<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>Editar Foro</title>
</head>
<body style="background-color: #9e0536;">
    <div style="padding: 50px;">
        <div class="card" style="background-color: #822525;">
            <div class="card-header" style="color: #ffffff;">
                Editar Foro: <%= tarea.id %>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="mb-3">
                        <label for="tarea" class="form-label" style="color: #ffffff;">Titulo</label>
                        <input type="text" class="form-control" id="tarea" name="tarea" value="<%= tarea.nombre %>">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label" style="color: #ffffff;">Descripcion</label>
                        <input type="text" class="form-control" id="descripcion" name="descripcion" value="<%= tarea.descripcion %>" style="height: 300px;">
                    </div>
                    <button type="submit" class="btn btn-outline-light">
                        Guardar
                    </button>
                </form>
            </div>
        </div>
        <img src="<%= tarea.imagen %>" alt="">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>